$bgh: #1a1a1a;
$bg:  #212121;
$bg1: #333333;
$bg2: #4d4d4d;

$fgh: #ffffff;
$fg:  #d1d5db;
$fg1: #a1a6b0;
$fg2: #6c7484;

* {
  all: unset;
  font-family: "Audiowide";
  color: $fg;
}

@import "./windows/window_border/style.scss";
@import "./windows/bottom/style.scss";
