bar {
  background-color: $bg;
  margin: 8px;
  padding: 8px 12px;
  font-size: 18px;

  /* & .left {} */

  & .center {
    & .workspaces {
      & .workspace {
        border: solid $border 1px;
        padding: 0 8px;

        &.active {
          background-color: $primary;
        }
      }
    }
  }
}
